<!-- interligar o frontend com backend  -->
<!-- definir areas de atuará em segurança de cada componente  -->
<!-- integração de Django, React entre as ferramentas como o HTML e CSS -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIECOM</title>
</head>
<body>
    
</body>
</html>

<!--CSS

tipo -> h1{}
Classe-> .box{}
ID-> #unique {} 
a[title] {} -->

<!-- flexbox-->

<!-- Peseudo classs-->